.profileCount {
    padding: 0 0 30px 0;
}
.profileCount__balance {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 40px 0px !important;
}
.profileCount__balance_item {
    margin: 0px 0px 100px 0px;
}
.profileCount__history {
    background: #fff5cb;
    padding: 15px 20px;
}
.history {
    margin: 0px 0px 40px 0px;
}
.history__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0px 0px 20px 0px;
}
.history__dropdown {
    display: flex !important;
    justify-content: space-between !important;
    border: 1px solid #a6a6a6 !important;
    padding: 5px !important;
    background: #fff !important;
    border-radius: 5px !important;
    width: 40% !important;
}
.history__dropdown__label {
    margin: 0px 30px 0px 0px;
    font-size: 20px;
}
.history__dropdown__arrow {
}
.history__center {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    margin: 0px 0px 20px 0px;
}
.history__btn {
    padding: 5px 10px;
    background: #fff;
    border-radius: 5px;
    color: #f4d962;
    border: 1px solid #f4d962;
}
.history__func {
    color: #f4d962;
    text-decoration: underline !important;
}
.history__func:hover {
    color: #000;
}

.history__transaction {
    color: #a6a6a6;
    font-weight: 500;
    font-style: italic;
}
.question__title {
    margin: 0px 0px 20px 0px !important;
    font-size: 30px !important;
}
.question__label {
    font-size: 18px;
    margin: 0px 0px 10px 0px;
}
.question__subtitle {
    font-size: 16px !important;
    margin: 10px 0px !important;
}
.question__variant {
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.question__variant a {
    color: #000;
    text-decoration: underline !important;
}
.question__text {
    font-size: 15px;
    width: 70%;
    margin: 0px 0px 10px 0px;
}
.question__price {
    margin: 10px 0px 0px 0px;
}
