.modal .fake__checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}
.modal .label__checkbox {
    display: none;
}
.modal .label__checkbox_fake {
    width: 20px;
    height: 20px;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
    display: inline-block;
    background: #fff;
    transition: 0.1s 0s;
}
.modal .label__checkbox:checked + .label__checkbox_fake {
    background: #f4d962 url("../../image/modal/checkbox.svg") 50% 40% / 15px 15px no-repeat;
}
.modal .checkbox__text {
    color: #494d4e;
    display: inline-block;
    margin: 15px 5px 15px;
    font-size: 15px;
    position: relative;
}
.MuiDialog-paper {
    border-radius: 20px !important;
}
.modal__title {
    font-family: Geometria;
    font-weight: 700;
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}
.modal__content {
    width: 420px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 30px 0px 0px 0px;
}
.modal__wrapper {
    width: 75%;
    margin: auto;
    padding: 0px 0px 50px;
}
.modal__top {
}
.modal__social {
}
.modal__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto 30px;
    width: 100%;
}
.modal__social_item {
    flex: 0 1 25%;
    width: 100%;
    height: 35px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    background: #a6a6a6;
}
.modal__social_fb {
    background: #1877f2 url(../../image/modal/facebook.svg) center / 25px 25px no-repeat;
}
.modal__social_gmail {
    background: #c8102e url(../../image/modal/gmail.svg) center / 25px 25px no-repeat;
}
.modal__social_vk {
    background: #4d75a3 url(../../image/modal/vk.svg) center / 25px 25px no-repeat;
}
.modal__center {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 50px 0px;
}
.modal__label {
    margin: 0px 0px 5px 0px;
    font-family: Geometria;
    font-size: 15px;
}
.modalInp {
    background: #ffffff;
    padding: 10px 15px;
    opacity: 0.75;
    border: 2px solid #838586;
    border-radius: 15px;
}
.modal__bot {
}
.modal__btn {
    font-family: Geometria;
    font-weight: 700;
    font-size: 15px;
    color: #494d4e;
    background: rgba(244, 217, 98, 0.75);
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin: 0px 0px 15px 0px;
}
.modal__btn:disabled{
    background-color: #838586;
}
.modal__btn__log {
    width: 50%;
}
.modal__reg:focus,
.modalInp {
    outline: none;
}
.modalInp:focus {
    outline: none;
    border: none;
    margin: 5px 0px 0px 0px;
    box-shadow: 0px 0px 5px 5px #f4d962;
}
[for="modalPass"] {
    margin-top: 15px;
}
.modal__log {
    display: flex;
    justify-content: space-between;
}
.modal__fgt_pass {
    font-family: Geometria;
    font-weight: 700;
    font-size: 15px;
    margin: 10px 0px 0px 0px;
    color: #494d4e;
}
.modal__link {
    margin: 15px 0px 0px 0px;
    text-align: center;
    font-family: Geometria;
    font-weight: 500;
    font-size: 12.5px;
    color: #000000;
}
.modal__link a {
    margin: 15px 0px 0px 0px;
    text-align: center;
    font-family: Geometria;
    font-weight: 500;
    font-size: 12.5px;
    color: #f4d962;
    margin: 0px 0px 0px 5px;
}
